
a {
    color: #6c757d;
  }
  a:hover {
    color: #fec503;
    text-decoration: none;
  }
  
  footer {
    padding: 2rem 0;
    background-color: #212529;
  }
  
  .footer-title{
    color: #fff;
  }
  
  .copyright{
    color: #6c757d;
  }
  .nav-link{
    color:#6c757d}
  
  .fa-ellipsis-h{
    color: #6c757d;
  }